In [1]:
import pandas as pd 

s = pd.Series(['B','u','s','i','n','e','s','s'])

In [2]:
s[:3]

0    B
1    u
2    s
dtype: object

In [3]:
import pandas as pd 

s = pd.Series(['a','b','c','d'])

In [4]:
s

0    a
1    b
2    c
3    d
dtype: object

In [5]:
import numpy as np
import pandas as pd 

arr = np.array(['a','b','c','d'])
idx = ['a',1,'a',2]
x   = pd.Series(arr, idx)
print(x['a'])

a    a
a    c
dtype: object

In [6]:
import pandas as pd 

d = {'Name':[ 'Jack', 'Steve', 'Ricky', 'Sam','Alex'],'Age':[28,34,24, 22,6]}
df = pd.DataFrame(d)
print (df.head(2))

    Name  Age
0   Jack   28
1  Steve   34

In [7]:
import numpy as np
import pandas as pd 

arr = np.array(['a','b','c','d'])
idx = [4,1,5,2]
x   = pd.Series(arr, idx)
print(x[2])

d

In [8]:
import pandas as pd 

s = pd.Series(['a','b','c','d'], [4,1,0,7])
Group of answer choices

SyntaxError: invalid syntax (<ipython-input-8-06d8b6b7259d>, line 4)

In [9]:
import pandas as pd 

s = pd.Series(['a','b','c','d'], [4,1,0,7])

In [10]:
s

4    a
1    b
0    c
7    d
dtype: object

In [2]:
import pandas as pd 

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [3]:
fig = matplotlib.pyplot.figure(width =5, height =4)

NameError: name 'matplotlib' is not defined

In [7]:
fig = matplotlib.pyplot.figure(figsize = (5, 4) )

NameError: name 'matplotlib' is not defined

In [8]:
import matplotlib.pyplot as plt 

fig = plt.figure(figsize = (2, 4), dpi=100)
fig.savefig('figure1.png')

In [1]:
import pandas as pd 

df = pd.DataFrame()

print (df)

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd 

s = pd.Series(['a','b','c','d','e','f','g','h'])

s.index = range(8,0,-1)  

print(s[7])

b

In [4]:
import matplotlib.pyplot as plt 

fig = plt.figure()
fig