# Haoran Yang
## Week 8 03/10/2021
### Python_functions_cont -wk 7

In [6]:

def full_name(fname,lname):
    return fname+' '+lname

In [7]:
full_name('Haoran', 'Yang')

'Haoran Yang'

In [19]:
# find a number is prime 
def prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            return str(num)+ ' is not prime'
        else:
            return str(num) +'is a prime '

In [20]:
prime (16)

'16 is not prime'

In [39]:
# another way to do above :
def prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            print  (num,'is not prime')
            break 
    else:
        print(num,'is not prime ')

In [34]:
prime (16)

16 is not prime

In [41]:
prime(2)

2 is not prime

In [43]:
# min_two_odds(3,5) --> 3
# min_two_odds(4,9) --> 9
def min_two_odds(n1,n2):
    if n1%2 != 0 and n2% 2 != 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [45]:
min_two_odds(9,3)

9

In [54]:
# check if two-word string starts with the same letter.
def two_words_letters(txt):
    wdlist = txt.split() # seperate letters in a list
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1 [0] == word2 [0]

In [48]:
# example of split()
txt= 'python program'
txt.split()

['python', 'program']

In [53]:
two_words_letters('python program')

True

In [55]:
two_words_letters('big girl')

False

In [60]:
# reduce steps of above
def two_words_letters_2(txt):
    wdlist = txt.split ()
    return wdlist[0][0] == wdlist[1][0]

In [61]:
two_words_letters_2('Fly high')

False

In [65]:
# create_thirty (10,20) --> ture
# create_thirty (5,30) --> ture
# create _thirty (5,20)--> false
def create_thirty (n1,n2):
    if (n1+n2) ==30:
        return True
    elif n1 == 30 or n2 == 30:
        return True
    else: 
        return False

In [66]:
create_thirty(1,2)

False

In [67]:
create_thirty(1,30)

True

In [68]:
create_thirty (2,28)

True

In [69]:
# reduce of the above:
def create_thirty_2(n1,n2):
    return (n1+n2)==30 or n1 ==30 or n2 == 30

In [70]:
create_thirty_2(1,29)

True

In [71]:
create_thirty_2(1,20)

False

In [72]:
# 'programming' -->ProGramming 
w = 'macdonald'
w.capitalize()

'Macdonald'

In [76]:
def caps_two_letters(word):
    if len(word)>3:
        part1 = word [:3].capitalize()
        part2 = word [3:].capitalize()
        return part1 +part2
    else: 
        return ('This word is too small')

In [75]:
caps_two_letters('macdonald')

'MacDonald'

In [77]:
caps_two_letters('hi')

'This word is too small'

In [1]:
# Reverse a statement
str1 = 'I am home'
lst1 = str1.split()

In [2]:
lst1

['I', 'am', 'home']

In [5]:
' '.join(lst1)

'I am home'

In [7]:
lst1.reverse()
# reverse

In [8]:
lst1

['home', 'am', 'I']

In [14]:
def rv_stat(txt):
    lst = txt.split()
    lst.reverse()
    return ' '.join(lst)

In [15]:
rv_stat('i am a boy ')

'boy a am i'

In [37]:
# another reverse method: ---->[::-1]
def rv_stat(txt):
    return ' '.join(txt.split()[::-1])

In [38]:
rv_stat('i am home')

'home am i'

In [41]:
# Check if  a list has number 5 next to number 5 somewherer.
#[3,4,5,5,10] --> True
#[3,4,5,6,5,] --> False
def has_55(lst):
    for i in range(0,len(lst)-1):
        if lst[i] == 5 and lst[i+1] == 5:
            return True
    return False

In [46]:
has_55([3,4,5,5,10])

True

In [48]:
has_55([1,2,3,4,5,6,5])
# amazing !!!!!!!!

False

In [49]:
# Check if  a list has number 5 next to number 5 somewherer.
#[3,4,5,5,10] --> True
#[3,4,5,6,5,] --> False
def has_55(lst):
    for i in range(0,len(lst)-1):
        #if lst[i] == 5 and lst[i+1] == 5:
        if lst[i:i+2] == [5,5]:
            return True
    return False

In [50]:
has_55([1,2,5,5])

True

In [62]:
# check if a list has any specific number.
# check 001 in a list.
# [1,4,5,0,0,1,8] --> True
# [0,8,0,1,4,1,0] --> True (do not need to be ordered)
# [ 1,5,6,0,6,7,0] --> False (But this one is 100)
def check_001 (lst):
    code = [5,6,7]
    for n in lst:
        if n == code[0]:
            code.pop(0)# I finf it and remove the number at index 0
            # and keep checking next one until the code left with 0 element.
    return len(code) == 0

In [60]:
check_001([5,1,3,4,6,4,7])

True

In [61]:
check_001([5,5,7,0,6])

False

In [65]:
# number of arguments. 
def full_name (fname,lname):
    print(fname+' '+lname) 
               
full_name('Danie', 'Yang')

Danie Yang

In [71]:
def full_name(*name):
    if len(name) == 1:
        print(name[0])
    else:
        print (name[0]+' '+name[1])
    
full_name('Danie','Yang')

Danie Yang

In [72]:
full_name('Yang')

Yang

In [79]:
# sum of numbers:
def sum_nums (a,b):
    return sum((a,b))

In [80]:
sum_nums(1,2)

3

In [81]:
def sum_nums_2 (*n):
    return sum(n)

In [82]:
sum_nums_2(12)

12

In [83]:
sum_nums_2(10,5,10)

25

In [88]:
def my_kids (child1,child2,child3):
    print ('my first child is' ,(child1),', my second child is',(child2))

In [89]:
my_kids('kim','bob','jon')

my first child is kim , my second child is bob