# Haoran Yang
## week 12 04/04/2021
### Python - pandas

In [1]:
import numpy as np

from pandas import Series, DataFrame
import pandas as pd

In [2]:
s = Series([2,5,7,-9,8,4])
s

0    2
1    5
2    7
3   -9
4    8
5    4
dtype: int64

In [3]:
s.values

array([ 2,  5,  7, -9,  8,  4], dtype=int64)

In [4]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
# values and index
summer_olympic = Series([2520,1122,937,847,713],index = ['USA','Russia','Germmany','UK','France'])
summer_olympic

USA         2520
Russia      1122
Germmany     937
UK           847
France       713
dtype: int64

In [6]:
summer_olympic['USA']

2520

In [7]:
summer_olympic[summer_olympic > 800]

USA         2520
Russia      1122
Germmany     937
UK           847
dtype: int64

In [8]:
'USA' in summer_olympic

True

In [9]:
# convert Series to dictionanry
summer_olympic_dict= summer_olympic.to_dict()

summer_olympic_dict

{'USA': 2520, 'Russia': 1122, 'Germmany': 937, 'UK': 847, 'France': 713}

In [10]:
# convert python dictionary to Series object
summer_olympic_Series = Series(summer_olympic_dict)
summer_olympic_Series

USA         2520
Russia      1122
Germmany     937
UK           847
France       713
dtype: int64

In [11]:
pd.isnull(s2)

NameError: name 's2' is not defined

In [13]:
#DataFrame COOL!!!!!!!!!!!!

data_dict = {'states':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
             'year':[2000,2001,2002,2001,2002,2003],
             'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

df = pd.DataFrame(data_dict)

df

   states  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
df.head()
# give your top5

In [ ]:
df.tail()
# give your bottom 5

In [ ]:
pd.DataFrame(data_dict, columns = ['year','state','pop'])

In [ ]:
df2 = pd.DataFrame(data_dict, columns = ['year','state','pop','debt'],
            index = ['one','two','three','four','five','six'])

df2

In [ ]:
df2.columns

In [ ]:
df2['state']

In [ ]:
df2.year

In [ ]:
df2.loc['three']

In [ ]:
df2['debt'] = 10.5

df2

In [ ]:
df2['debt'] = np.arange(6.)

df2

In [ ]:
s3 = pf.Series([-1.2,-1.5,-1.7],index=['two','four','five'])

In [ ]:
s3

In [ ]:
df2['debt']=s3

df2
# 'NaN' means missing data

In [ ]:
df2['eastren'] = df2['state'] == 'Ohio'

df2

In [18]:
# Nested dictionary

pop_dict = {'Nevada': {2001:2.4,2002:2.9},
           'Ohio':{2000: 1.5, 2001: 1.7, 2002: 3.6}}

pop_dict

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [19]:
df3 = pd.DataFrame (pop_dict)
df3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [20]:
df3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [ ]:
DataFrame(df3,index=[2001,2002,2003])

In [ ]:
df3['Ohio'][:-1]

In [ ]:
df3['Nevada'][:1]

In [23]:
# set ndex and columns their name arrtibutes
df3.index.name= 'year'; df3.columns.name = 'state'

df3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5