# Haoran Yang
## Week5 02/16/2021
### Python For loops

**General for loops format** 
    <code>for item in object:
    statement to do work </code>

In [3]:
sc = [68,87,90,59,78,88,75,67,55,48]

In [2]:
sc

[68, 87, 90, 59, 78, 88, 75, 67, 55, 48]

In [4]:
 for n in sc:
    print (n)

68
87
90
59
78
88
75
67
55
48

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [8]:
for num in sc:
    if num % 2 ==0:
        print(num)
# print even number

68
90
78
88
48

In [9]:
for num in sc:
    if num % 2!=0:
        print(num)
#print odd number.

87
59
75
67
55

In [4]:
sc

[68, 87, 90, 59, 78, 88, 75, 67, 55, 48]

In [5]:
sc_sum = 0
for n in sc:
    sc_sum=sc_sum+n
print(sc_sum)

715

In [7]:
sc_sum = 0
for n in sc:
    sc_sum += n
print(sc_sum)

715

In [8]:
sc_sum = 0
for n in sc:
    sc_sum += n
avg = sc_sum / len(sc)
print(avg)

71.5

In [9]:
for letter in "I am a student in CIS 310":
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S

3
1
0

In [11]:
t = (5,7,9,10,14)
for n in t:
    print(n)

5
7
9
10
14

In [12]:
ls1 = [(10,20),(30,40),(50,60),(70,80),(90,100)]

In [13]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [14]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [15]:
for (t1,t2) in ls1:
    print(t1)

10
30
50
70
90

In [16]:
for (t1,t2) in ls1:
    print(t2)

20
40
60
80
100

In [17]:
d = {"brand":"FORD","model":"Mustang","year":1964}

In [18]:
d

{'brand': 'FORD', 'model': 'Mustang', 'year': 1964}

In [19]:
for item in d:
    print(item)

brand
model
year

In [20]:
for key in d:
    print(key)

brand
model
year

In [21]:
for value in d:
    print(value)

brand
model
year

In [22]:
d.items()

dict_items([('brand', 'FORD'), ('model', 'Mustang'), ('year', 1964)])

In [23]:
d.values()

dict_values(['FORD', 'Mustang', 1964])

In [24]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [27]:
for a,b in d.items():
    print(a)
    print(b)

brand
FORD
model
Mustang
year
1964

In [29]:
for k in d.keys():
    print(k)

brand
model
year

In [31]:
for v in d.values():
    print(v)

FORD
Mustang
1964

In [33]:
for tup in d.items():
    print(tup)

('brand', 'FORD')
('model', 'Mustang')
('year', 1964)

In [35]:
sorted([5,6,8,7])

[5, 6, 7, 8]

In [36]:
d1 = {"k1":5,"k2":8,"k3":3}

In [37]:
d1.values()

dict_values([5, 8, 3])

In [38]:
sorted(d1.values())

[3, 5, 8]