# Haoran Yang
## week 4 02/10/2021
### python _sets

In [11]:
# sets is a collection that is unordered and unindexed, and no duplicate number.
# Unordered: There is no defined order, it can not be referred by index or key.
# Unchangebale, too
#No duplicates
s= set()
c={'yellow','250','Hi'}

In [2]:
s

set()

In [12]:
c

{'250', 'Hi', 'yellow'}

In [13]:
c.add('Bye')

In [14]:
c

{'250', 'Bye', 'Hi', 'yellow'}

In [3]:
s.add(20)

In [15]:
type(c)

set

In [4]:
s

{20}

In [7]:
s.add(55)

In [8]:
s

{20, 55}

In [9]:
s.add('boy')

In [10]:
s

{20, 55, 'boy'}

In [17]:
s.add('ooo')

In [18]:
s

{'ooo'}

In [21]:
s.add(1)

In [22]:
s

{1, 'ooo'}

In [23]:
# Set can use for removing any duplicate elements in a list
list1=(1,2,3,3,4,5,5,6,7,7,7,7)

In [24]:
set(list1)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
s.remove(1)

In [26]:
s

{'ooo'}